@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap');

.header {
    text-align: left;
    padding-top: 20vh;
    padding-bottom: 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    max-width: 80vw;
}

.main {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    padding-bottom: 10vh;
}

.impact-blurb {
    max-width: 500px;
    margin-left: 20px;
}

.main-link {
    color: #E95941;
    text-decoration: none;
    font-family: "poppins";
    font-weight: 600;
}
.main-link:hover {
    color: #01A39D;
    text-decoration: none;
}

.title {
    font-family: 'Lora';
    font-weight: 800;
    font-size: 3rem
}

.subtitle {
    font-family: 'poppins';
    font-size: 1.5rem

}

.subtitle-bold {
    font-family: 'poppins';
    font-weight: 500;
    font-size: 1.5rem

}